body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Muli", sans-serif;
}

.header {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  padding: 0px 40px;
  box-sizing: border-box;
}
.nav__list {
  list-style: none;
}
.nav__link {
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(17, 17, 17);
}
.nav__link > :visited, .nav :link {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

.main {
  max-width: 1100px;
  width: 100%;
}
.main__intro {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 0 15px;
}
.main__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.423077px;
  color: rgb(74, 79, 242);
}
.main__text {
  max-width: 635px;
  width: 100%;
  color: rgb(17, 17, 17);
  font-weight: 700;
  font-size: 40px;
  margin-top: 25px;
  line-height: 60px;
  font-family: "Mulish", sans-serif;
}

.product-designer-span {
  color: rgb(74, 79, 242);
}

.container__citation {
  margin-right: 65px;
  position: relative;
  bottom: 50px;
  right: 50px;
}

.main__citation {
  color: rgb(17, 17, 17);
  font-size: 18px;
  font-style: italic;
  align-self: flex-end;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 23px;
}

/* GRID */
.grid__section {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.grid__container {
  max-width: 1100px;
  width: 100%;
  display: grid;
  min-height: 300px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(31, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid__image-first {
  grid-row: 1/7;
  grid-column: 1/4;
}
.grid__image-second {
  grid-row: 7/15;
  grid-column: 1/4;
}
.grid__image-third {
  grid-row: 15/23;
  grid-column: 1/4;
}
.grid__image-fourth {
  grid-row: 23/32;
  grid-column: 1/4;
}
.grid__image-fifth {
  grid-row: 1/6;
  grid-column: 4/7;
}
.grid__image-sixth {
  grid-row: 6/13;
  grid-column: 4/7;
}
.grid__image-seventh {
  grid-row: 13/22;
  grid-column: 4/7;
}
.grid__image-eighth {
  grid-row: 22/32;
  grid-column: 4/7;
}
.grid__image-ninth {
  grid-row: 1/11;
  grid-column: 7/10;
}
.grid__image-tenth {
  grid-row: 11/18;
  grid-column: 7/10;
}
.grid__image-eleventh {
  grid-row: 18/26;
  grid-column: 7/10;
}
.grid__image-twelfth {
  grid-row: 26/32;
  grid-column: 7/10;
}

/* GRID */
.container__business {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 91px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid__business-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.business__info {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: rgb(17, 17, 17);
}
.business__list--middle {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin-left: 50px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.business__list--right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.6;
  box-sizing: border-box;
  margin-left: 30px;
}

.awwwards__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 40px;
  margin-top: 100px;
  border-top: 1px solid rgb(216, 216, 216);
}

.grid__awwwards {
  width: 100%;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 3fr repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  box-sizing: border-box;
}

.awwwards {
  font-family: "Mulish", sans-serif;
  color: rgb(17, 17, 17);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 25px;
}
.awwwards__site {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: 30px;
  grid-column: 4/6;
}
.awwwards__genesis-ui {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  grid-column: 7/9;
  font-family: "Mulish", sans-serif;
  color: rgb(17, 17, 17);
}
.awwwards__genesis-ui--info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
}
.awwwards__year {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-top: 30px;
}
.awwwards__best {
  grid-column: 4/6;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: 30px;
}
.awwwards__genesis-template {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  line-height: 1.6;
  font-family: "Mulish", sans-serif;
  color: rgb(17, 17, 17);
  grid-column: 7/9;
  margin-top: 30px;
}
.awwwards__genesis-template--info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 15px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 30px;
}
.awwwards__year--two {
  text-align: end;
  margin-top: 30px;
}

#second-awwward {
  border-bottom: 1px solid rgb(216, 216, 216);
}

/*PROJECTDETAILS.HTML STARTS HERE */
.main {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  padding: 0px 40px;
}
.main__section {
  max-width: 1100px;
  width: 100%;
}
.main__info {
  max-width: 635px;
  width: 100%;
}
.main__title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: rgb(17, 17, 17);
  max-width: 450px;
  margin-bottom: 15px;
}
.main__text-pd {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.8;
}
.main__column {
  max-width: 340px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}
.main__column-left {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  line-height: 3;
  opacity: 0.5;
  border-bottom: 1px solid rgb(151, 151, 151);
}
.main__column-right {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 3;
  color: rgb(17, 17, 17);
  border-bottom: 1px solid rgb(216, 216, 216);
}

.main__img {
  max-width: 1100px;
  width: 100%;
  margin-top: 70px;
  padding: 0px 20px;
  box-sizing: border-box;
}

.bottom__info {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.8;
  box-sizing: border-box;
  max-width: 1100px;
  width: 100%;
  padding: 0px 40px;
  margin-top: 50px;
}

.bottom__img-container {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 45px;
  padding: 0px 40px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom__img {
  max-width: 320px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

/*CONTACT STARTS HERE*/
.main__container {
  max-width: 1100px;
  width: 100%;
}

.main-c {
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 0px 20px;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__info {
  max-width: 500px;
  width: 100%;
}

.main__info-heading {
  max-width: 475px;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: rgb(17, 17, 17);
}

.main__info-text {
  max-width: 445px;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 15px;
}

.main__form {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgb(17, 17, 17);
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-bottom: 20px;
}

.input {
  font-size: 16px;
  color: rgb(17, 17, 17);
}

input {
  width: 340px;
  border: none;
  border-bottom: 1px solid rgb(216, 216, 216);
  margin-bottom: 25px;
}

textarea {
  width: 340px;
  border: none;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.button {
  margin-top: 38px;
  max-width: 125px;
  width: 100%;
  height: 50px;
  background-color: rgb(74, 79, 242);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.button:hover {
  background-color: red;
}

.map {
  max-width: 1110px;
  width: 100%;
  height: 570px;
  box-sizing: border-box;
  margin-top: 120px;
  padding: 0 20px;
}

.footer {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.nav--footer {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  padding: 0px 40px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.nav--footer--right {
  display: inline-flex;
}

.nav__list--footer {
  list-style: none;
  width: 100%;
  display: inline-flex;
}

.nav__link--footer {
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(17, 17, 17);
}

.nav__link > :visited, :link {
  color: rgb(17, 17, 17);
  text-decoration: none;
}